.infos-bar
{
    padding: 16px 24px;
    
    &__infos
    {
        background-color: #fff;
        border-radius: 7px;
        padding: 18px;
        display: flex;
        list-style: none;
        gap: 40px;
        
        &__item
        {
            margin-left: 25px;
            color: #000;
            font-size: 14px;
            text-align: left;
    
            b
            {
                font-size: 18px;
                display: block;
            }
        }
    }

}