@use 'variaveis';

.event
{
    padding: 80px 0;


    &--image-right
    {
        background-image: linear-gradient(variaveis.$cor1, variaveis.$cor2);
    }

    &--image-left
    {
        background-image: linear-gradient(variaveis.$cor2, variaveis.$cor1);
    }


    &__details
    {
        &__title
        {
            font-size: 18px;
            font-weight: bold;
        }
    }

    &__description
    {
        font-size: 16px;
        line-height: 22px;
    }

    .containerEvent
    {
        display: flex;
        align-items: center;
        gap: 90px;

        img
        {
            height: 450px;
            border-radius: 7px;
        }
    }

    &--image-left
    {
        .containerEvent
        {
            flex-direction: row-reverse;
        }
    }
    

    @media (max-width: 640px)
    {
        .event
        {
            padding: 0;
        }
        .containerEvent
        {
            display: block;
            margin-left: 25px;

            img
            {
                height: 280px;
                border-radius: 7px;
                padding: 0;
            }

            .event-details
            {
                #mobileNone
                {
                    display: none;
                }

                p
                {
                    max-width: 80%;
                    margin-bottom: 15px;
                    font-size: 20px;
                    color: aliceblue;
                }
            }
        }
    }
}