.hero
{
   padding-top: 270px;
   width: 100%;
   background-image: url(../images/img_banner3.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;

   .container
   {
      position: relative;

      p,h1
      {
         text-align: center;
      }

      img
      {
         margin: 0 auto;
         height: 150px;
         display: block;
      }
   }

   &__text
   {
      margin-top: 64px;
      margin-bottom: 64px;
      line-height: 56px;
      font-weight: 800;
      font-size: 25px;
      text-align: center;
   }

   @media (max-width: 640px)
   {
      padding: 0;
      background-image: url(../images/banner_mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

      .container
      {
         #exibeNaTela
         {
            font-size: 40px;
            color: rgb(251, 232, 128);
         }


         img
         {
            margin-left: 18%;
         }
      }
    }
}